 <% provide(:title, "Contact") %>

  <h1>Contact</h1>
    <p>
    Contact the Ruby on Rails Tutorial about the sample app page at the 
    <a href="http://wwww.railstutorial.org/contact/">contact page</a>.
    </p>